.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 800px;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    background-color: rgb(31, 31, 31);
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
  }
 .data {
     width: 30vw;
     padding: 10px;
     margin-bottom: 10px;
     background-color: white;
  
 }
 .joke {
     border: solid;
     border-color: aqua;
     color: white;
     padding: 20px;
 }
 .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #333;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }